<div class="row">
	<div class="col-md-12">
		<p class="big">Rent For Hire</p>
		<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
			<!-- Indicators -->
			<ol class="carousel-indicators">
				<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
				<li data-target="#carousel-example-generic" data-slide-to="1"></li>
				<li data-target="#carousel-example-generic" data-slide-to="2"></li>
			</ol>

			<!-- Wrapper for slides -->
			<div class="carousel-inner" role="listbox">
				<div class="item active">
					<%= image_tag("BountyHunter.jpg") %> 
					<div class="carousel-caption">
					View some of our team
					</div>
				</div>
				<div class="item">
					<%= image_tag("Mantis.png") %> 
					<div class="carousel-caption">
					This is our ship
					</div>
				</div>
				<div class="item">
					<%= image_tag("slave.jpg") %> 
					<div class="carousel-caption">
					...
					</div>
				</div>
				...
			</div>

			<!-- Controls -->
			<a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
				<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
				<span class="sr-only">Previous</span>
			</a>
			<a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
				<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
				<span class="sr-only">Next</span>
			</a>
		</div>
	</div>
    
</div>
<div class="row">
	<div class="col-md-4">
		<p class="bi">View Inventory</p>
		<p class="text">Aenean et luctus elit. Curabitur suscipit ut lorem ac laoreet. 
						Donec lobortis, nisi vel condimentum sollicitudin, urna quam sagittis erat, 
						vitae pellentesque risus ex et risus. Phasellus porta id tortor sit amet dapibus. 
						Aenean metus tortor, consequat ac ullamcorper sit amet, vestibulum eu metus. 
						Quisque pharetra neque vitae augue condimentum consequat. Donec vel elit sed mi 
						accumsan cursus. Integer vel enim eu massa lacinia suscipit vitae lacinia libero.
						In lacus eros, tristique et molestie eget, vulputate in leo.</p>
	
	</div>
	<div class="col-md-4">
		<p class="bi">Make a Reservation</p>
		<p class="text">Aenean et luctus elit. Curabitur suscipit ut lorem ac laoreet. 
						Donec lobortis, nisi vel condimentum sollicitudin, urna quam sagittis erat, 
						vitae pellentesque risus ex et risus. Phasellus porta id tortor sit amet dapibus. 
						Aenean metus tortor, consequat ac ullamcorper sit amet, vestibulum eu metus. 
						Quisque pharetra neque vitae augue condimentum consequat. Donec vel elit sed mi 
						accumsan cursus. Integer vel enim eu massa lacinia suscipit vitae lacinia libero.
						In lacus eros, tristique et molestie eget, vulputate in leo.</p>
	</div>
	<div class="col-md-4">
		<p class="bi">FAQ</p>
		<p class="text">Aenean et luctus elit. Curabitur suscipit ut lorem ac laoreet. 
						Donec lobortis, nisi vel condimentum sollicitudin, urna quam sagittis erat, 
						vitae pellentesque risus ex et risus. Phasellus porta id tortor sit amet dapibus. 
						Aenean metus tortor, consequat ac ullamcorper sit amet, vestibulum eu metus. 
						Quisque pharetra neque vitae augue condimentum consequat. Donec vel elit sed mi 
						accumsan cursus. Integer vel enim eu massa lacinia suscipit vitae lacinia libero.
						In lacus eros, tristique et molestie eget, vulputate in leo.</p>
	</div>
</div>
<div class="row">
	<div class=col-md-12">
		<p class="bi">Company</p>
		<p class="text">Aenean et luctus elit. Curabitur suscipit ut lorem ac laoreet. 
						Donec lobortis, nisi vel condimentum sollicitudin, urna quam sagittis erat, 
						vitae pellentesque risus ex et risus. Phasellus porta id tortor sit amet dapibus. 
						Aenean metus tortor, consequat ac ullamcorper sit amet, vestibulum eu metus. 
						Quisque pharetra neque vitae augue condimentum consequat. Donec vel elit sed mi 
						accumsan cursus. Integer vel enim eu massa lacinia suscipit vitae lacinia libero.
						In lacus eros, tristique et molestie eget, vulputate in leo.</p>
	</div>

</div>

