// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#header{
width: 100%;
float:left;


}

body{
background: url("background.jpg");
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
 }
 
 p.text{
 color:white;
 padding: 2px;
 background: url("scroll.jpg")no-repeat center center fixed; 
 -webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
padding-bottom: 5%;

 
 
 }
 p.big{
 color:white;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-size: 50px;
  padding:10px;
  text-decoration: underline;
 }
 
 p.bi{
 color:white;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-size: 50px;
  padding:20px;
  text-align:center;
 }
 
 td, th, tr{
border: 2px dotted white;
padding: 10px 10px 10px 10px;
color:black;
text-align:center;
background-color:rgba(255,255,255,0.5);
 }
 
 th{
 text-align: center;
 }
 
 .desc{
 margin-top: 20px;
 
 }
 
 .desc2{
 text-align:center;
 }
 

 
 #footer a{

 font-family: sans-serif;
 font-size: 18px;

  text-align:right;
 margin-top: 20px;
 margin-left: 3px;
 }
 
 #header a:first-of-type{
 
 margin-left: 30px;
 }
 

 
 .nl{
 margin-top: 20px;
 border: 1px solid rgb(50,50,128);
 padding: 10px;
 margin-left: 1px;
 font-family: sans-serif;
 font-size: 18px;
 }
 .ri{
 margin-top: 20px;
 border: 1px solid rgb(50,50,128);
 padding: 10px;
 margin-right: 15px;
 font-family: sans-serif;
 font-size: 18px;
 clear:right;

 }
 
 
 .first{
 margin-left:5%;
 }
 
 .carousel-inner img{
 margin:auto;}
 
 .invent{
 background: url("scroll.jpg")no-repeat center center fixed; 
 -webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
padding-bottom: 5%;
 }
 