<div class="row" id="footer">
	 <div class="col-md-12">
		<nav class="navbar navbar-default navbar-fixed-bottom">
			<ul class="nav navbar-nav">
				<li><%= link_to "Home", "/" %> </li>
				<li><%= link_to "Products", "/products" %> </li>
			</ul>
		</nav>
	 </div>
</div>
	
